<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
    <style>
    body {
        width: 100%;
        background-image: url('https://i.ibb.co/cQ3MpW1/spring-background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .container {
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
    }
    #om {
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-left: 35%; 
    }
    .button {
    width: 80px;
    display: inline-block;
    position: center;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: rgb(253, 156, 30);
    border: none;
    border-radius: 15px;
    margin-left: 115%;
    }

    .button:hover {background-color: green}

    .button:active {
    background-color: #ffffff;
    transform: translateY(4px);
    }
    </style>
</head>
<body>
    <%-include('./partials/navBar.ejs')%>
    <img src="/img/logo.png" alt="holalogi" style="width : 500px" id="om"/>
    <div class="container">
        <div class="button-login" style="display :inline-block ; margin-bottom: 0px; position: absolute">
            <a href=""></a>
                <a href="/login" class="button" style="margin-right:5%;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">Login</a>
                <a href="/register" class="button">Register</a>
        </div>
    </div>
    
</body>
</html>